/* start main */
/* main {} */
/* welcome section */
main .welc-sec {
  position: relative;
  height: 150vh;
}

main .welc-sec .welc-img {
  width: 100%;
  height: 100%;
  background-image: url("../../../images/bg-welc-sec.jpg");
  background-position: center 0;
  background-size: cover;
  background-attachment: fixed;
}

main .welc-sec .welc {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: white;
}
main .welc-sec .welc h1 {
  font-family: "Jacques Francois Shadow", serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
  font-size: calc(var(--lg-fs) + 30px);
}
main .welc-sec .welc q {
  display: block;
  max-width: 600px;
  padding: 0 10px;
  margin: 0 auto;
  line-height: 1.5;
  font-size: var(--lg-fs);
}

main .welc-sec a {
  position: absolute;
  bottom: 52vh;
  left: 50%;
  transform: translateX(-50%);
}
main .welc-sec a i {
  color: white;
  font-size: var(--lg-fs);
  animation: arrow-up-down 2s infinite;
}

@media (max-width: 767px) {
  main .welc-sec .welc h1 {
    margin-bottom: 10px;
    font-size: calc(var(--sm-fs) + 15px);
  }
  main .welc-sec .welc q {
    font-size: var(--sm-fs);
  }
}

@keyframes arrow-up-down {
  30% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-15px);
  }
  70% {
    transform: translateY(0);
  }
}
/* welcome section */

/* blog section */
main .blog-sec {
  position: relative;
  box-shadow: 0 -20px 20px rgba(0, 0, 0, 60%);
  padding-bottom: var(--sec-lg-pding-btm);
}
main .blog-sec-id {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}

main .blog-sec .title {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  transform: translateY(-100px);
  background-image: linear-gradient(to right, var(--nd-30per-clr) 25%, var(--main-30per-clr));
  transition: background-image var(--main-transition), transform var(--main-transition);
}
/* active JS */
main .blog-sec .active-title {
  transform: translateY(-100px) rotate(-180deg);
}
main .blog-sec .active-title h2 {
  transform: rotate(-180deg);
  color: var(--main-clr);
}
main .blog-sec .title h2 {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--lg-fs) + 30px);
  transition: transform var(--main-transition), color var(--main-transition);
}

main .blog-sec .container {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 20px;
}

main .blog-sec .container article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main .blog-sec .container article .border {
  border: 20px solid rgba(0, 0, 0, 30%);
  outline: 5px solid black;
}
main .blog-sec .container article .border .blog-card {
  background-color: white;
  border: 5px solid black;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 50%),
              -2px 5px 10px rgba(0, 0, 0, 50%);
  transition: transform var(--main-transition), box-shadow var(--main-transition);
}
main .blog-sec .container article .border .blog-card:hover {
  transform: translateY(-10px);
  box-shadow: 6px 12px 10px rgba(0, 0, 0, 50%),
              -6px 12px 10px rgba(0, 0, 0, 50%);
}
main .blog-sec .container article .border .blog-card .image {
  position: relative;
  height: 400px;
  overflow: hidden;
}
main .blog-sec .container article .border .blog-card .image:hover figure figcaption {
  bottom: 0;
}
main .blog-sec .container article .border .blog-card .fst-img-card {
  height: 700px;
}
main .blog-sec .container article .border .blog-card .image figure {
  height: 100%;
}
main .blog-sec .container article .border .blog-card .image figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
main .blog-sec .container article .border .blog-card .image figure figcaption {
  position: absolute;
  bottom: -100px;
  width: 100%;
  height: fit-content;
  padding: 10px;
  color: white;
  background-color: var(--black-bg);
  font-size: var(--lg-fs);
  transition: bottom var(--main-transition);
}
main .blog-sec .container article .border .blog-card .image .date {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  background-color: white;
  font-size: calc(var(--lg-fs) - 5px);
}
main .blog-sec .container article .border .blog-card .info {
  padding: 20px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 30%);
}
main .blog-sec .container article .border .blog-card .info em {
  display: block;
  margin-bottom: 10px;
  font-size: var(--lg-fs);
  color: var(--main-clr);
}
main .blog-sec .container article .border .blog-card .info h3 {
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
  font-size: calc(var(--lg-fs) + 10px);
}
main .blog-sec .container article .border .blog-card .info p {
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* -webkit-line-clamp: 2;
  line-clamp: 2; */
  color: var(--text-clr);
  font-size: calc(var(--lg-fs) - 5px);
}
main .blog-sec .container article .border .blog-card a {
  position: relative;
  display: block;
  width: fit-content;
  padding: 10px 20px;
  margin: 20px auto;
  font-weight: bold;
  overflow: hidden;
  color: var(--nd-clr);
  font-size: var(--lg-fs);
  border: 3px solid var(--nd-alt-clr);
  border-radius: var(--border-radius);
  transition: color var(--main-transition);
  z-index: 1;
}
main .blog-sec .container article .border .blog-card a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--nd-clr);
  transition: width var(--main-transition);
  z-index: -1;
}
main .blog-sec .container article .border .blog-card a:hover {
  color: white;
}
main .blog-sec .container article .border .blog-card a:hover::before {
  width: 100%;
}

@media (max-width: 991px) {
  main .blog-sec .container article .border .blog-card .image {
    height: 300px;
  }
  main .blog-sec .container article .border .blog-card .fst-img-card {
    height: 600px;
  }
}

@media (max-width: 767px) {
  main .blog-sec {
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 60%);
    padding-bottom: var(--sec-sm-pding-btm);
  }
  main .blog-sec-id {
    top: -75px;
  }

  main .blog-sec .title {
    width: 150px;
    height: 150px;
    transform: translateY(-75px);
  }
  /* active JS */
  main .blog-sec .active-title {
    transform: translateY(-75px) rotate(-180deg);
  }
  main .blog-sec .title h2 {
    font-size: calc(var(--sm-fs) + 20px);
  }

  main .blog-sec .container {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
  
  main .blog-sec .container article .border {
    border: 10px solid rgba(0, 0, 0, 30%);
    outline: 3px solid black;
  }
  main .blog-sec .container article .border .blog-card {
    border: 3px solid black;
  }
  main .blog-sec .container article .border .blog-card .image {
    height: 250px;
  }
  main .blog-sec .container article .border .blog-card .image figure figcaption {
    padding: 5px;
    font-size: var(--sm-fs);
  }
  main .blog-sec .container article .border .blog-card .fst-img-card {
    height: 250px;
  }
  main .blog-sec .container article .border .blog-card .image .date {
    padding: 3px 7px;
    font-size: calc(var(--sm-fs) - 5px);
  }
  main .blog-sec .container article .border .blog-card .info {
    padding: 15px 5px;
  }
  main .blog-sec .container article .border .blog-card .info span {
    margin-bottom: 7px;
    font-size: var(--sm-fs);
  }
  main .blog-sec .container article .border .blog-card .info h3 {
    margin-bottom: 10px;
    font-size: calc(var(--sm-fs) + 5px);
  }
  main .blog-sec .container article .border .blog-card .info p {
    font-size: calc(var(--sm-fs) - 2px);
  }
  main .blog-sec .container article .border .blog-card a {
    padding: 6px 12px;
    margin: 15px auto;
    font-size: var(--sm-fs);
    border: 2px solid var(--nd-alt-clr);
  }
}
/* blog section */

/* post section */
main .post-sec {
  position: relative;
}
main .post-sec-id {
  position: absolute;
  top: -38px;
  left: 50%;
  transform: translateX(-50%);
}

main .post-sec .title {
  position: relative;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  background-image: linear-gradient(to right, var(--nd-30per-clr) 25%, var(--main-30per-clr));
  margin: 37px auto calc(var(--titl-lg-mrgn-btm) + 37px);
  transition: transform var(--main-transition);
}
/* active JS */
main .post-sec .active-title {
  transform: rotate(-180deg);
}
main .post-sec .active-title .outline {
  transform: rotate(450deg);
  border-color:var(--main-60per-clr) transparent var(--nd-60per-clr) transparent;
}
main .post-sec .active-title h2 {
  transform: rotate(-180deg);
  color: var(--main-clr);
}
main .post-sec .title .outline {
  position: absolute;
  width: 160px;
  height: 160px;
  background: none;
  border: 20px solid;
  border-color:var(--main-30per-clr) transparent var(--nd-30per-clr) transparent;
  border-radius: 50%;
  box-sizing: initial;
  transition: border-color var(--main-transition), transform var(--main-transition);
}
main .post-sec .title h2 {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--lg-fs) + 15px);
  transition: transform var(--main-transition), color var(--main-transition);
}

main .post-sec .post-cont {
  position: relative;
}
main .post-sec .post-cont video {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 -20px 50px black;
}
main .post-sec .post-cont .post-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  padding: 25px 50px 40px;
  color: white;
  background-color: var(--main-alt-clr);
}
main .post-sec .post-cont .post-card h3 {
  font-family: "Playfair Display", serif;
  margin-bottom: 15px;
  font-size: var(--lg-fs);
}
main .post-sec .post-cont .post-card .flex-box {
  display: flex;
  align-items: center;
  gap: 40px;
}
main .post-sec .post-cont .post-card .flex-box img {
  min-width: 310px;
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  object-position: center;
}
main .post-sec .post-cont .post-card .flex-box .info .date {
  display: block;
  margin-bottom: 20px;
  font-size: calc(var(--lg-fs) - 5px);
}
main .post-sec .post-cont .post-card .flex-box .info h4 {
  font-family: "Playfair Display", serif;
  margin-bottom: 10px;
  font-size: var(--lg-fs);
}
main .post-sec .post-cont .post-card .flex-box .info p {
  margin-bottom: 40px;
  line-height: 1.5;
  font-size: calc(var(--lg-fs) - 3px);
}
main .post-sec .post-cont .post-card .flex-box .info .line {
  width: 100%;
  height: 1px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 30%);
}
main .post-sec .post-cont .post-card .flex-box .info a {
  width: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: calc(var(--lg-fs) - 2px);
  color: white;
}
main .post-sec .post-cont .post-card .flex-box .info a::before,
main .post-sec .post-cont .post-card .flex-box .info a::after {
  font-family: "font awesome 5 free";
  font-weight: 900;
  color: var(--nd-alt-clr);
}
main .post-sec .post-cont .post-card .flex-box .info a::before {
  content: "\f178";
}
main .post-sec .post-cont .post-card .flex-box .info a::after{
  content: "\f177";
}
main .post-sec .post-cont .post-card .flex-box .info a:hover {
  color: var(--nd-alt-clr);
}
main .post-sec .post-cont .post-card .flex-box .info a:hover::before {
  animation: arrow-left 0.6s linear infinite;
}
main .post-sec .post-cont .post-card .flex-box .info a:hover::after {
  animation: arrow-right 0.6s linear infinite;
}

@media (max-width: 991px) {
  main .post-sec .post-cont video {
    height: 850px;
  }
  main .post-sec .post-cont .post-card {
    width: 70%;
  }
  main .post-sec .post-cont .post-card .flex-box {
    flex-direction: column;
  }
  main .post-sec .post-cont .post-card .flex-box img {
    max-width: 600px;
  }
}

@media (max-width: 767px) {
  main .post-sec-id {
    top: -26px;
  }
  
  main .post-sec .title {
    width: 100px;
    height: 100px;
    margin: 24px auto calc(var(--titl-sm-mrgn-btm) + 17px);
  }
  main .post-sec .title .outline {
    width: 126px;
    height: 126px;
    border: 12px solid;
    border-color:var(--main-30per-clr) transparent var(--nd-30per-clr) transparent;
  }
  main .post-sec .title h2 {
    font-size: calc(var(--lg-fs) + 15px);
  }

  main .post-sec .post-cont video {
    box-shadow: 0 -10px 30px black;
  }
  main .post-sec .post-cont .post-card {
    width: calc(100% - 20px);
    padding: 20px 10px 30px;
  }
  main .post-sec .post-cont .post-card h3 {
    font-size: var(--sm-fs);
  }
  main .post-sec .post-cont .post-card .flex-box {
    gap: 20px;
  }
  main .post-sec .post-cont .post-card .flex-box img {
    min-width: 230px;
  }
  main .post-sec .post-cont .post-card .flex-box .info .date {
    margin-bottom: 15px;
    font-size: calc(var(--sm-fs) - 5px);
  }
  main .post-sec .post-cont .post-card .flex-box .info h4 {
    margin-bottom: 5px;
    font-size: var(--sm-fs);
  }
  main .post-sec .post-cont .post-card .flex-box .info p {
    margin-bottom: 30px;
    line-height: 1.5;
    font-size: calc(var(--sm-fs) - 3px);
  }
  main .post-sec .post-cont .post-card .flex-box .info a {
    font-size: calc(var(--sm-fs) - 2px);
  }
}

@keyframes arrow-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(15px);
  }
}
@keyframes arrow-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-15px);
  }
}
/* post section */

/* about section */
main .about-sec {
  display: flex;
}

main .about-sec .personal-img {
  flex-basis: 50%;
  padding: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .about-sec .personal-img img {
  width: 100%;
}

main .about-sec .about-cont {
  flex-basis: 50%;
  padding: 40px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--nd-alt-clr);
}
main .about-sec .about-cont h3 {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 50px;
  text-decoration: underline;
  font-size: calc(var(--lg-fs) + 40px);
}
main .about-sec .about-cont h4 {
  font-family: "Playfair Display", serif;
  margin-bottom: 30px;
  font-size: calc(var(--lg-fs) + 15px);
}
main .about-sec .about-cont p {
  line-height: 1.5;
  font-size: var(--lg-fs);
}
main .about-sec .about-cont p:not(:last-of-type) {
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  main .about-sec {
    flex-direction: column;
  }

  main .about-sec .personal-img img {
    width: 60%;
  }
}

@media (max-width: 767px) {
  main .about-sec .personal-img {
    padding: 10px;
  }
  main .about-sec .personal-img img {
    width: 90%;
  }
  
  main .about-sec .about-cont {
    padding: 10px;
  }
  main .about-sec .about-cont h3 {
    margin-bottom: 40px;
    font-size: calc(var(--sm-fs) + 30px);
  }
  main .about-sec .about-cont h4 {
    margin-bottom: 20px;
    font-size: calc(var(--sm-fs) + 10px);
  }
  main .about-sec .about-cont p {
    line-height: 1.5;
    font-size: var(--sm-fs);
  }
  main .about-sec .about-cont p:not(:last-of-type) {
    margin-bottom: 10px;
  }
}
/* about section */

/* subscribe section */
main .sub-sec {
  display: flex;
}

main .sub-sec .message {
  flex-basis: 40%;
  padding: 40px;
  background-color: var(--main-alt-clr);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .sub-sec .message strong {
  color: white;
  text-transform: uppercase;
  font-size: calc(var(--lg-fs) + 50px);
}

main .sub-sec .sub-box {
  flex-basis: 60%;
  padding: 100px;
  background-color: var(--black-bg);
  color: white;
  display: flex;
  align-items: center;
}
main .sub-sec .sub-box form {
  flex-basis: 100%;
}
main .sub-sec .sub-box form .tet-label {
  display: block;
  width: fit-content;
  margin-bottom: 15px;
  font-size: var(--lg-fs);
}
main .sub-sec .sub-box form .tet-label::after {
  content: "*";
  margin-left: 5px;
  color: var(--nd-clr);
}
main .sub-sec .sub-box form input:not([type="submit"]) {
  width: 100%;
  height: 50px;
  color: white;
  caret-color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--nd-alt-clr);
}
main .sub-sec .sub-box form .inputs-box {
  margin-bottom: 100px;
  display: flex;
  gap: 30px;
}
main .sub-sec .sub-box form .inputs-box .name {
  flex-basis: 50%;
}
main .sub-sec .sub-box form .email-box {
  width: 100%;
}
main .sub-sec .sub-box form .submit-box {
  position: relative;
  width: fit-content;
  margin: 40px 0 0 auto;
}
main .sub-sec .sub-box form .submit-box .sub-lab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .sub-sec .sub-box form .submit-box input[type="submit"] {
  padding: 12px 30px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: var(--lg-fs);
  cursor: pointer;
  transition: background-color var(--main-transition), border-color var(--main-transition);
}
main .sub-sec .sub-box form .submit-box input[type="submit"]:hover {
  background-color: var(--nd-clr);
  border-color: var(--nd-clr);
}
main .sub-sec .sub-box form .submit-box input[type="submit"]:active {
  background-color: var(--nd-alt-clr);
  border-color: var(--nd-alt-clr);
}

@media (max-width: 991px) {
  main .sub-sec {
    flex-direction: column;
  }

  main .sub-sec .message strong {
    max-width: 450px;
  }
}

@media (max-width: 767px) {
  main .sub-sec .message {
    padding: 40px 10px;
  }
  main .sub-sec .message strong {
    max-width: 250px;
    font-size: calc(var(--sm-fs) + 22px);
  }
  
  main .sub-sec .sub-box {
    padding: 40px 10px;
  }
  main .sub-sec .sub-box form .tet-label {
    margin-bottom: 10px;
    font-size: var(--sm-fs);
  }
  main .sub-sec .sub-box form input:not([type="submit"]) {
    height: 30px;
  }
  main .sub-sec .sub-box form .inputs-box {
    margin-bottom: 50px;
    flex-direction: column;
    gap: 50px;
  }
  main .sub-sec .sub-box form .submit-box input[type="submit"] {
    padding: 6px 20px;
    font-size: var(--sm-fs);
  }
}
/* subscribe section */

/* end main */