<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post page</title>
    <link rel="icon" href="../static/images/icon-title.png">
    <link rel="stylesheet" href="../static/fontawesome-free-6.5.1-web/css/all.css">
    <link rel="stylesheet" href="../static/style/blog-post-page/blog-post-style.css">
  </head>
  <body>
    <!-- start header -->
    <header>
      <div class="container">

        <div class="logo">
          <a href="../index.html" aria-label="Logo" title="Logo">
            <img src="../static/images/logo-whitebg.png" alt="logo">
          </a>
        </div>

      </div>
    </header>
    <!-- end header -->

    <!-- start main -->
    <main>
      <div class="profile-bg"></div>
      <div class="container">

        <div class="profile-photo">
          <img src="../static/images/profile-photo.png" alt="">
        </div>

        <div class="info">
          <h1>Personal Name</h1>
          <h2>Title</h2>
          <h3>Current Company/School</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sequi magni beatae quas est velit in, nobis, praesentium quam deserunt laboriosam illum quaerat voluptatem provident blanditiis harum iste, officiis atque.</p>
        </div>

      </div>
    </main>
    <!-- end main -->

    <!-- start footer -->
    <footer>
      <div class="container">

        <div class="links-box">
          <a href="#" class="fb ip-links" style="--clr: #4267B2;" aria-label="Click to contact me on FaceBook" title="FaceBook">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="#" class="insta ip-links" style="--clr: #C13584;" aria-label="Click to contact me on Instagram" title="Instagram">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="#" class="in ip-links" style="--clr: #0A66C2;" aria-label="Click to contact me on Linkedin" title="Linkedin">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
          <a href="#" class="x ip-links" style="--clr: #1DA1F2;" aria-label="Click to contact me on X-twitter" title="X-twitter">
            <i class="fa-brands fa-x-twitter"></i>
          </a>
          <a href="#" class="wa ip-links" style="--clr: #128C7E;" aria-label="Click to contact me on WhatsApp" title="WhatsApp">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
        </div>

      </div>
    </footer>
    <!-- end footer -->

    <script src="../dynamic/blog-post-page.js"></script>
  </body>
</html>